:root {
  --lightred: rgb(214, 26, 74);
  --red: rgb(209, 2, 19);
  --darkred: rgb(107, 9, 32);
  --background: rgb(16, 16, 16);
  --text-color: rgb(196, 196, 196);
  --border-radius: 20px;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0 auto;
  font-size: 14px;
}

main {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 95%;
  height: 100%;
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.navbar {
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid #9e9e9e;
  width: 100%;
  gap: 0;
  margin: 0;
  padding: 10px;
}

.navbar a {
  text-decoration: none;
  color: var(--text-color);
  padding: 10px 10px;
  transition: all 0.3s ease;
  font-size: small;
}

.navbar a:hover {
  color: white;
  font-weight: bold;
}

footer {
  width: 100%;
  background-color: var(--background);
  color: #9e9e9e;
  font-size: 0.75em;
  text-align: center;
}

img {
  width: 100%;
  height: auto;
  max-width: 100%;   /* límite horizontal */
  max-height: 400px;  /* límite vertical */
  object-fit: contain; /* mantiene el aspect ratio sin recortar */
  border-radius: var(--border-radius);
  display: block;
  margin: 0 auto; /* centra la imagen */
}

.title {
    text-align: center;
    font-weight: bold;
}

button {
  color: white;
  background-color: var(--background);
  border: 1px solid yellow;
  width: 100px;
  height: 50px;
  border-radius: var(--border-radius);
  transition: all 0.3s ease;
}

button:hover {
  background-color: yellow;
  color: var(--background);
}

.custom-alert {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.alert-box {
  background: #1a1a1a;
  color: #fff;
  padding: 20px 30px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid silver;
  max-width: 350px;
  box-shadow: 0 0 15px rgba(192,192,192,0.5);
}

.alert-box button {
  margin-top: 15px;
  padding: 8px 16px;
  border: none;
  background: #c0392b;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.2s;
}

.alert-box button:hover {
  background: #e74c3c;
}