:root {
  --lightred: rgb(214, 26, 74);
  --red: rgb(209, 2, 19);
  --darkred: rgb(107, 9, 32);
  --background: rgb(16, 16, 16);
  --text-color: rgb(237, 237, 237);
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
  font-size: 0.75em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0 auto;
  padding-top: 20px;
}

main {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

nav {
  background-color: var(--background);
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, #9e9e9e, #e5e5e5, #9e9e9e);
  border-image-slice: 1;
  width: 100%;
  padding: 10px;
  font-size: 0.75em;
}

nav a {
  text-decoration: none;
  color: var(--text-color);
  padding: 0 10px;
  transition: all 0.3s ease;
}

nav a:hover {
  color: red;
}

footer {
  width: 100%;
  background-color: var(--background);
  position: fixed;
  bottom: 0;
  left: 0;
  color: #9e9e9e;
  font-size: 0.75em;
  z-index: 1000;
  text-align: center;
}